//* FONTS 
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');
* {
    font-family: Karla, sans-serif;
    font-weight: 400;
}

//* COLORS 

//*    Primary 
$cyan: #2ab2af;
$brightYellow: #c0df34;

//*    Neutral
$lightGray: #e5eff5;
$grayishBlue: #98a6bd;